*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    gap: 12px;
    width: 400px;
    height: 100%;

}

.actions{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}
#task-el{
    flex: 1;
    padding: 8px ;
    border: 1px solid lightgrey;
    border-radius: 8px;
}

#add-item{
background-color: rgba(2, 86, 137, 0.925);
padding: 8px 16px 8px 16px;
border-radius: 8px;
border: 0px solid;
color: white;
}



.list-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    width: 400px;
    justify-content: space-between;
    padding: 8px;
    
}



#delete-btn{

    background-color: white;
    border: 1px solid red;
    height: fit-content;
    padding: 8px 16px 8px 16px;
}

#error-el{
    color: red;
}